package server

{{ range . }}
func retrieve{{ . | FormatTypeDeclaration }}(key string, queryValues url.Values, converterFunction func(s string) ({{ . }}, error), handlerFunction func({{ . }})) {
    if stringValue, present := retrieveIfPresent(key, queryValues); present {
        value, err := converterFunction(stringValue)
        if err != nil {
            panic(err)
        }
        handlerFunction(value)
    }
}
{{ end }}

func retrieveIfPresent(key string, queryValues url.Values) (string, bool) {
	value := queryValues.Get(key)
	return value, value != ""
}
