package server

{{ range . }}
func retrieve{{ . | FormatTypeDeclaration }}(key string, queryValues url.Values, converterFunction func(s string) ({{ . }}, error), errorMessages *[]string, handlerFunction func({{ . }})) {
    if stringValue, present := retrieveIfPresent(key, queryValues); present {
        value, err := converterFunction(stringValue)
        if err != nil {
            *errorMessages = append(*errorMessages, fmt.Sprintf("Error while parsing query parameter %s. Error: %s", key, err.Error()))
        }
        handlerFunction(value)
    }
}
{{ end }}

func retrieveIfPresent(key string, queryValues url.Values) (string, bool) {
	value := queryValues.Get(key)
	return value, value != ""
}
